name: Setup HTTPS for Cluster

on:
  workflow_dispatch:
    inputs:
      install_cert_manager:
        description: 'Install cert-manager'
        required: false
        type: boolean
        default: true
      create_wildcard_cert:
        description: 'Create wildcard certificate'
        required: false
        type: boolean
        default: true
      deploy_istio_gateway:
        description: 'Deploy Istio Gateway with HTTPS'
        required: false
        type: boolean
        default: true

jobs:
  install-cert-manager:
    if: ${{ inputs.install_cert_manager }}
    uses: FitSync-G13/fitsync-cd-templates/.github/workflows/cert-manager-install.yml@master
    with:
      cluster_name: ${{ vars.CLUSTER_NAME }}
      master_instances: ${{ vars.MASTER_INSTANCES }}
      environment: production
      cert_manager_version: "1.16.2"
    secrets:
      AWS_ROLE_ARN: ${{ secrets.AWS_ROLE_ARN }}

  create-wildcard-cert:
    if: ${{ inputs.create_wildcard_cert }}
    needs: [install-cert-manager]
    uses: FitSync-G13/fitsync-cd-templates/.github/workflows/wildcard-cert.yml@master
    with:
      cluster_name: ${{ vars.CLUSTER_NAME }}
      master_instances: ${{ vars.MASTER_INSTANCES }}
      environment: production
      domain_name: ${{ vars.DOMAIN_NAME }}
      subdomain_prefix: ${{ vars.SUBDOMAIN_PREFIX }}
      cert_email: ${{ vars.CERT_EMAIL }}
    secrets:
      AWS_ROLE_ARN: ${{ secrets.AWS_ROLE_ARN }}
      CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}

  deploy-istio-gateway:
    if: ${{ inputs.deploy_istio_gateway }}
    needs: [create-wildcard-cert]
    uses: FitSync-G13/fitsync-cd-templates/.github/workflows/istio-gateway-https.yml@master
    with:
      cluster_name: ${{ vars.CLUSTER_NAME }}
      master_instances: ${{ vars.MASTER_INSTANCES }}
      environment: production
      domain_name: ${{ vars.DOMAIN_NAME }}
      subdomain_prefix: ${{ vars.SUBDOMAIN_PREFIX }}
    secrets:
      AWS_ROLE_ARN: ${{ secrets.AWS_ROLE_ARN }}
